
/*
 * This file is part of Jkop
 * Copyright (c) 2016-2017 Job and Esther Technologies, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

name = "Jkop API Reference"
version = ""
introHeader = "Jkop - A multi-platform, multi-language software application framework"
templateDirectory = "apidoc_template"
inputFiles = [
	"cape/this.pling",
	"capex.console/this.pling",
	"capex.crypto/this.pling",
	"capex.data/this.pling",
	"capex.image/this.pling",
	"capex.mysql/this.pling",
	"capex.net/this.pling",
	"capex.text/this.pling",
	"capex.util/this.pling",
	"cave/this.pling",
	"cave.fb/this.pling",
	"cave.google.account/this.pling",
	"cave.google.maps/this.pling",
	"cave.photo/this.pling",
	"cave.pim/this.pling",
	"cave.ui/this.pling",
	"motion/this.pling"
]

namespaceDescriptions["cape"] = "The Jkop CAPE library (\"Common API for Everything\") provides the core fundamental framework for software application development, including features for data structures, string manipulation, filesystem access, I/O, threading and other commonly used operating system features."
namespaceDescriptions["capex.crypto"] = "Cryptography features for CAPE"
namespaceDescriptions["capex.data"] = "Database access and data management support for CAPE, including SQL support"
namespaceDescriptions["capex.image"] = "Image filtering and manipulation features"
namespaceDescriptions["capex.net"] = "Networking and TCP/IP socket support"
namespaceDescriptions["capex.text"] = "Text manipulation functionality"
namespaceDescriptions["capex.util"] = "Commonly used and helpful utility functions"
namespaceDescriptions["capex.console"] = "The capex.console library provides text-based command line features to applications, including terminal control, standard input/output, etc."
namespaceDescriptions["capex.mysql"] = "The capex.mysql package implements a MySQL driver for the capex library."
namespaceDescriptions["cave"] = "The Jkop CAVE library (\"CAPE Visual Extensions\") provides a graphical user interface (GUI) framework for multiple programming languages and operating systems. This includes commonly used GUI features and functionality, such as colors, fonts, forms, measurements and user interface controls."
namespaceDescriptions["cave.fb"] = "GUI support for Facebook-related functionality"
namespaceDescriptions["cave.google.account"] = "GUI support for Google login -related functionality"
namespaceDescriptions["cave.google.maps"] = "GUI support for Google Maps"
namespaceDescriptions["cave.photo"] = "GUI support for photography and camera -related functionality"
namespaceDescriptions["cave.pim"] = "GUI support for Personal Information Management (PIM) -related functionality, such as calendar, contacts, etc."
namespaceDescriptions["cave.ui"] = "General GUI application development framework, including commonly used widgets such as buttons, text fields, select boxes, etc."
namespaceDescriptions["motion"] = "The Jkop Motion library implements a multimedia engine, intended for gaming and other high performance graphical applications."

introText = "
= Welcome to the Jkop API reference =

Jkop is a comprehensive, general-purpose class library for software development, which can be used to
develop many kinds of software applications on multiple platforms, programming languages and operating
systems. Jkop provides a collection of libraries for several different purposes, and the developers can
choose which libraries to use for a particular kind of project.

= Further information =

In addition to this API documentation, the Eqela development community, EQDN ([http://eqdn.tech]), provides
many other documents, tutorials and references for Jkop and allows developers interact, collaborate and ask
questions:

@link http://eqdn.tech/jkop \"Read more Jkop documentation on EQDN\"

All Jkop libraries, tools and other materials can be downloaded from the Jkop website: [http://www.jkop.org]
"
